.row.well(style="margin: 20px 0 20px 0")
  .col-sm-6
    form(role="form", ng-submit="addProposal()")
      .input-group
        input.form-control(type="text", ng-model="newProposal.username", placeholder="@harrymain" autofocus)
        span.input-group-btn
          button.btn.btn-primary(type="submit") Add rider account !

  .col-sm-6
    .input-group
      input(date-range-picker class="form-control date-picker" type="text" ng-model="dateRange" options="options")
      span.input-group-addon
        i.fa.fa-calendar

.panel.panel-default(
  iuser-panel
  ng-repeat="rider in riders"
  rider="rider"
  position="$index +1"
  color="rider.metrics.color"
  daterange="$parent.dateRange"
)
